In [71]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [72]:
data=pd.read_csv("Retail_Apparel_Data.csv")

# DATA CLEANING

In [73]:
data

,Invoice Number,Date Time,Customer ID,Product ID,Quantity,Price per Unit,Return Status,Sales Channel,Total Sales,Customer Age Group,Region,Product Category
0,10000,01/01/2021 10:20,74,3,2,24.00,Not Returned,In-Store,48.00,26-35,West,Footwear
1,10001,08/01/2021 03:10,92,10,6,40.24,Not Returned,In-Store,241.44,18-25,South,Footwear
2,1000,05/01/2021 20:24,86,20,5,25.96,Not Returned,Online,129.80,18-25,East,Clothing
3,10002,11/01/2021 03:43,57,11,6,85.86,Not Returned,Online,515.16,46-55,North,Clothing
4,10003,02/01/2021 07:26,73,25,5,72.88,Not Returned,In-Store,364.40,56+,West,Clothing
...,...,...,...,...,...,...,...,...,...,...,...,...
16893,9994,02/01/2021 10:36,53,24,1,40.80,Not Returned,In-Store,40.80,46-55,East,Accessories
16894,9995,09/01/2021 12:41,73,15,3,40.81,Not Returned,In-Store,122.43,56+,West,Footwear
16895,9997,05/01/2021 06:56,83,23,2,84.65,Not Returned,Online,169.30,56+,East,Clothing
16896,9998,02/01/2021 10:23,65,31,7,51.45,Returned,In-Store,360.15,26-35,West,Clothing
16897,9999,07/01/2021 04:34,92,8,7,82.77,Not Returned,Online,579.39,18-25,South,Accessories

In [74]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16898 entries, 0 to 16897
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Invoice Number      16898 non-null  int64
 1   Date Time           16898 non-null  object
 2   Customer ID         16898 non-null  int64
 3   Product ID          16898 non-null  int64
 4   Quantity            16898 non-null  int64
 5   Price per Unit      16898 non-null  float64
 6   Return Status       16898 non-null  object
 7   Sales Channel       16898 non-null  object
 8   Total Sales         16898 non-null  float64
 9   Customer Age Group  16552 non-null  object
 10  Region              16898 non-null  object
 11  Product Category    16898 non-null  object
dtypes: float64(2), int64(4), object(6)
memory usage: 1.5+ MB

In [75]:
data.describe()

,Invoice Number,Customer ID,Product ID,Quantity,Price per Unit,Total Sales
count,16898.000000,16898.000000,16898.000000,16898.000000,16898.000000,16898.000000
mean,10473.348503,50.206001,25.463960,3.988164,60.099128,240.033409
std,5474.453895,28.896081,14.395134,2.049422,23.229113,159.466443
min,1000.000000,1.000000,1.000000,1.000000,20.000000,20.120000
25%,5726.250000,25.000000,13.000000,2.000000,40.050000,107.947500
50%,10461.000000,50.000000,25.000000,4.000000,59.870000,200.500000
75%,15211.750000,75.000000,38.000000,6.000000,80.607500,341.662500
max,19999.000000,100.000000,50.000000,60.000000,99.990000,699.930000

In [76]:
data.shape

(16898, 12)

In [77]:
pd.isnull(data).sum(axis=0) #its noted that from the customer age group there are 346 missing rows

Invoice Number          0
Date Time               0
Customer ID             0
Product ID              0
Quantity                0
Price per Unit          0
Return Status           0
Sales Channel           0
Total Sales             0
Customer Age Group    346
Region                  0
Product Category        0
dtype: int64

In [78]:
mode_value = data['Customer Age Group'].mode()[0]
data['Customer Age Group'].fillna(mode_value, inplace=True)

In [79]:
data.shape #the missing values were filled with the mode

(16898, 12)

# check for duplicates

In [80]:
duplicates=data.duplicated()

In [81]:
print(data[duplicates])

Empty DataFrame
Columns: [Invoice Number, Date Time, Customer ID, Product ID, Quantity, Price per Unit, Return Status, Sales Channel, Total Sales, Customer Age Group, Region, Product Category]
Index: []

In [82]:
#hence there are no duplicate rows

# check for outliers

In [83]:
#The outliers were checked for price per unit and total sales

In [84]:
data.rename(columns={'Price per Unit': 'price'}, inplace=True)
#renamed the column price per unit to price

In [85]:
data.head()

,Invoice Number,Date Time,Customer ID,Product ID,Quantity,price,Return Status,Sales Channel,Total Sales,Customer Age Group,Region,Product Category
0,10000,01/01/2021 10:20,74,3,2,24.00,Not Returned,In-Store,48.00,26-35,West,Footwear
1,10001,08/01/2021 03:10,92,10,6,40.24,Not Returned,In-Store,241.44,18-25,South,Footwear
2,1000,05/01/2021 20:24,86,20,5,25.96,Not Returned,Online,129.80,18-25,East,Clothing
3,10002,11/01/2021 03:43,57,11,6,85.86,Not Returned,Online,515.16,46-55,North,Clothing
4,10003,02/01/2021 07:26,73,25,5,72.88,Not Returned,In-Store,364.40,56+,West,Clothing

In [86]:
#remove outliers for price
q1=data["price"].quantile(0.25) #lower quartile
q3=data["price"].quantile(0.75) #upper quartile
ll=q1-1.5*(q3-q1)
ul=q3+1.5*(q3-q1)
data=data[(data["price"]>=ll )& (data["price"]<=ul)]

In [87]:
data.shape #since the number of rows didnt change there were no outliers for price

(16898, 12)

In [88]:
#remove outliers for Total Sales
q11=data["Total Sales"].quantile(0.25) #lower quartile
q31=data["Total Sales"].quantile(0.75) #upper quartile
ll1=q11-1.5*(q3-q1)
ul1=q31+1.5*(q3-q1)
data=data[(data["Total Sales"]>=ll1 )& (data["Total Sales"]<=ul1)]

In [89]:
data.shape #its noted that there are outliers for the total sales and those were removed.

(13061, 12)

# split the Date Time coloumn

In [90]:
data['Date Time'] = pd.to_datetime(data['Date Time'], format='%d/%m/%Y %H:%M')
data['day'] = data['Date Time'].dt.day
data['month'] = data['Date Time'].dt.month
data['year'] = data['Date Time'].dt.year
data['time'] = data['Date Time'].dt.time

In [91]:
data.head()

,Invoice Number,Date Time,Customer ID,Product ID,Quantity,price,Return Status,Sales Channel,Total Sales,Customer Age Group,Region,Product Category,day,month,year,time
0,10000,2021-01-01 10:20:00,74,3,2,24.00,Not Returned,In-Store,48.00,26-35,West,Footwear,1,1,2021,10:20:00
1,10001,2021-01-08 03:10:00,92,10,6,40.24,Not Returned,In-Store,241.44,18-25,South,Footwear,8,1,2021,03:10:00
2,1000,2021-01-05 20:24:00,86,20,5,25.96,Not Returned,Online,129.80,18-25,East,Clothing,5,1,2021,20:24:00
4,10003,2021-01-02 07:26:00,73,25,5,72.88,Not Returned,In-Store,364.40,56+,West,Clothing,2,1,2021,07:26:00
5,10004,2021-01-01 01:15:00,98,17,2,25.54,Not Returned,Online,51.08,26-35,East,Accessories,1,1,2021,01:15:00

In [92]:
data

,Invoice Number,Date Time,Customer ID,Product ID,Quantity,price,Return Status,Sales Channel,Total Sales,Customer Age Group,Region,Product Category,day,month,year,time
0,10000,2021-01-01 10:20:00,74,3,2,24.00,Not Returned,In-Store,48.00,26-35,West,Footwear,1,1,2021,10:20:00
1,10001,2021-01-08 03:10:00,92,10,6,40.24,Not Returned,In-Store,241.44,18-25,South,Footwear,8,1,2021,03:10:00
2,1000,2021-01-05 20:24:00,86,20,5,25.96,Not Returned,Online,129.80,18-25,East,Clothing,5,1,2021,20:24:00
4,10003,2021-01-02 07:26:00,73,25,5,72.88,Not Returned,In-Store,364.40,56+,West,Clothing,2,1,2021,07:26:00
5,10004,2021-01-01 01:15:00,98,17,2,25.54,Not Returned,Online,51.08,26-35,East,Accessories,1,1,2021,01:15:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16889,9990,2021-01-04 00:05:00,35,48,6,38.23,Not Returned,In-Store,229.38,36-45,East,Footwear,4,1,2021,00:05:00
16891,9992,2021-01-10 12:42:00,45,29,4,42.63,Not Returned,Online,170.52,26-35,North,Foot wear,10,1,2021,12:42:00
16894,9995,2021-01-09 12:41:00,73,15,3,40.81,Not Returned,In-Store,122.43,56+,West,Footwear,9,1,2021,12:41:00
16895,9997,2021-01-05 06:56:00,83,23,2,84.65,Not Returned,Online,169.30,56+,East,Clothing,5,1,2021,06:56:00
16896,9998,2021-01-02 10:23:00,65,31,7,51.45,Returned,In-Store,360.15,26-35,West,Clothing,2,1,2021,10:23:00

# check for misspellings

In [93]:
#misspellings in the sales channel column
data['Sales Channel'].unique()

array(['In-Store', 'Online', 'On line', 'In Store'], dtype=object)

In [94]:
def clean(data):
    if data["Sales Channel"]== "On line":
        return 'Online'
    if data["Sales Channel"]== "Online":
        return 'Online'
    if data["Sales Channel"]== "In-Store":
        return 'In-store'
    if data["Sales Channel"]== "In Store":
        return 'In-store'

In [95]:
data["Sales Channel"]=data.apply(clean, axis=1)

In [96]:
data

,Invoice Number,Date Time,Customer ID,Product ID,Quantity,price,Return Status,Sales Channel,Total Sales,Customer Age Group,Region,Product Category,day,month,year,time
0,10000,2021-01-01 10:20:00,74,3,2,24.00,Not Returned,In-store,48.00,26-35,West,Footwear,1,1,2021,10:20:00
1,10001,2021-01-08 03:10:00,92,10,6,40.24,Not Returned,In-store,241.44,18-25,South,Footwear,8,1,2021,03:10:00
2,1000,2021-01-05 20:24:00,86,20,5,25.96,Not Returned,Online,129.80,18-25,East,Clothing,5,1,2021,20:24:00
4,10003,2021-01-02 07:26:00,73,25,5,72.88,Not Returned,In-store,364.40,56+,West,Clothing,2,1,2021,07:26:00
5,10004,2021-01-01 01:15:00,98,17,2,25.54,Not Returned,Online,51.08,26-35,East,Accessories,1,1,2021,01:15:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16889,9990,2021-01-04 00:05:00,35,48,6,38.23,Not Returned,In-store,229.38,36-45,East,Footwear,4,1,2021,00:05:00
16891,9992,2021-01-10 12:42:00,45,29,4,42.63,Not Returned,Online,170.52,26-35,North,Foot wear,10,1,2021,12:42:00
16894,9995,2021-01-09 12:41:00,73,15,3,40.81,Not Returned,In-store,122.43,56+,West,Footwear,9,1,2021,12:41:00
16895,9997,2021-01-05 06:56:00,83,23,2,84.65,Not Returned,Online,169.30,56+,East,Clothing,5,1,2021,06:56:00
16896,9998,2021-01-02 10:23:00,65,31,7,51.45,Returned,In-store,360.15,26-35,West,Clothing,2,1,2021,10:23:00

In [97]:
pd.isnull(data).sum(axis=0)

Invoice Number        0
Date Time             0
Customer ID           0
Product ID            0
Quantity              0
price                 0
Return Status         0
Sales Channel         0
Total Sales           0
Customer Age Group    0
Region                0
Product Category      0
day                   0
month                 0
year                  0
time                  0
dtype: int64

In [98]:
#under product category there is a misspelling for acessories and Footwear
def clean1(data):
    if data["Product Category"]== "Accessories":
        return 'Accessories'
    if data["Product Category"]== "Acessories":
        return 'Accessories'
    if data["Product Category"]== "Footwear":
        return 'Footwear'
    if data["Product Category"]== "Foot wear":
        return 'Footwear'
    if data["Product Category"]== "Clothing":
        return 'Clothing'

In [99]:
data["Product Category"]=data.apply(clean1, axis=1)
data

,Invoice Number,Date Time,Customer ID,Product ID,Quantity,price,Return Status,Sales Channel,Total Sales,Customer Age Group,Region,Product Category,day,month,year,time
0,10000,2021-01-01 10:20:00,74,3,2,24.00,Not Returned,In-store,48.00,26-35,West,Footwear,1,1,2021,10:20:00
1,10001,2021-01-08 03:10:00,92,10,6,40.24,Not Returned,In-store,241.44,18-25,South,Footwear,8,1,2021,03:10:00
2,1000,2021-01-05 20:24:00,86,20,5,25.96,Not Returned,Online,129.80,18-25,East,Clothing,5,1,2021,20:24:00
4,10003,2021-01-02 07:26:00,73,25,5,72.88,Not Returned,In-store,364.40,56+,West,Clothing,2,1,2021,07:26:00
5,10004,2021-01-01 01:15:00,98,17,2,25.54,Not Returned,Online,51.08,26-35,East,Accessories,1,1,2021,01:15:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16889,9990,2021-01-04 00:05:00,35,48,6,38.23,Not Returned,In-store,229.38,36-45,East,Footwear,4,1,2021,00:05:00
16891,9992,2021-01-10 12:42:00,45,29,4,42.63,Not Returned,Online,170.52,26-35,North,Footwear,10,1,2021,12:42:00
16894,9995,2021-01-09 12:41:00,73,15,3,40.81,Not Returned,In-store,122.43,56+,West,Footwear,9,1,2021,12:41:00
16895,9997,2021-01-05 06:56:00,83,23,2,84.65,Not Returned,Online,169.30,56+,East,Clothing,5,1,2021,06:56:00
16896,9998,2021-01-02 10:23:00,65,31,7,51.45,Returned,In-store,360.15,26-35,West,Clothing,2,1,2021,10:23:00

In [100]:
pd.isnull(data).sum(axis=0)

Invoice Number        0
Date Time             0
Customer ID           0
Product ID            0
Quantity              0
price                 0
Return Status         0
Sales Channel         0
Total Sales           0
Customer Age Group    0
Region                0
Product Category      0
day                   0
month                 0
year                  0
time                  0
dtype: int64

# Time frame

In [101]:
data['year'].unique() #The year has to only be for 2021 so we remove the row with 2031

array([2021, 2031], dtype=int64)

In [102]:
 data1=data[data['year'] == 2031].index
data=data.drop(data1)

In [103]:
data['year'].unique()

array([2021], dtype=int64)

In [104]:
#consider didvide the time into days

In [105]:
def clean2(data):
    if data["day"]==1 or data["day"]==8:
        return 'Friday'
    elif data["day"]==11 or data["day"]==4:
        return 'Monday'
    elif data["day"]==2 or data["day"]==9:
        return 'Saturday'
    elif data["day"]==6:
        return 'Wednesday'
    elif data["day"]==5 or data["day"]==26:
        return 'Tuesday'
    elif data["day"]==7:
        return 'Thursday'
    else:
        return 'Sunday'
data["dayofweek"]=data.apply(clean2, axis=1)

In [106]:
data

,Invoice Number,Date Time,Customer ID,Product ID,Quantity,price,Return Status,Sales Channel,Total Sales,Customer Age Group,Region,Product Category,day,month,year,time,dayofweek
0,10000,2021-01-01 10:20:00,74,3,2,24.00,Not Returned,In-store,48.00,26-35,West,Footwear,1,1,2021,10:20:00,Friday
1,10001,2021-01-08 03:10:00,92,10,6,40.24,Not Returned,In-store,241.44,18-25,South,Footwear,8,1,2021,03:10:00,Friday
2,1000,2021-01-05 20:24:00,86,20,5,25.96,Not Returned,Online,129.80,18-25,East,Clothing,5,1,2021,20:24:00,Tuesday
4,10003,2021-01-02 07:26:00,73,25,5,72.88,Not Returned,In-store,364.40,56+,West,Clothing,2,1,2021,07:26:00,Saturday
5,10004,2021-01-01 01:15:00,98,17,2,25.54,Not Returned,Online,51.08,26-35,East,Accessories,1,1,2021,01:15:00,Friday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16889,9990,2021-01-04 00:05:00,35,48,6,38.23,Not Returned,In-store,229.38,36-45,East,Footwear,4,1,2021,00:05:00,Monday
16891,9992,2021-01-10 12:42:00,45,29,4,42.63,Not Returned,Online,170.52,26-35,North,Footwear,10,1,2021,12:42:00,Sunday
16894,9995,2021-01-09 12:41:00,73,15,3,40.81,Not Returned,In-store,122.43,56+,West,Footwear,9,1,2021,12:41:00,Saturday
16895,9997,2021-01-05 06:56:00,83,23,2,84.65,Not Returned,Online,169.30,56+,East,Clothing,5,1,2021,06:56:00,Tuesday
16896,9998,2021-01-02 10:23:00,65,31,7,51.45,Returned,In-store,360.15,26-35,West,Clothing,2,1,2021,10:23:00,Saturday

In [107]:
data['day'].unique()

array([ 1,  8,  5,  2, 10,  7,  9,  4, 11,  6,  3], dtype=int64)

In [109]:
data

,Invoice Number,Date Time,Customer ID,Product ID,Quantity,price,Return Status,Sales Channel,Total Sales,Customer Age Group,Region,Product Category,day,month,year,time,dayofweek
0,10000,2021-01-01 10:20:00,74,3,2,24.00,Not Returned,In-store,48.00,26-35,West,Footwear,1,1,2021,10:20:00,Friday
1,10001,2021-01-08 03:10:00,92,10,6,40.24,Not Returned,In-store,241.44,18-25,South,Footwear,8,1,2021,03:10:00,Friday
2,1000,2021-01-05 20:24:00,86,20,5,25.96,Not Returned,Online,129.80,18-25,East,Clothing,5,1,2021,20:24:00,Tuesday
4,10003,2021-01-02 07:26:00,73,25,5,72.88,Not Returned,In-store,364.40,56+,West,Clothing,2,1,2021,07:26:00,Saturday
5,10004,2021-01-01 01:15:00,98,17,2,25.54,Not Returned,Online,51.08,26-35,East,Accessories,1,1,2021,01:15:00,Friday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16889,9990,2021-01-04 00:05:00,35,48,6,38.23,Not Returned,In-store,229.38,36-45,East,Footwear,4,1,2021,00:05:00,Monday
16891,9992,2021-01-10 12:42:00,45,29,4,42.63,Not Returned,Online,170.52,26-35,North,Footwear,10,1,2021,12:42:00,Sunday
16894,9995,2021-01-09 12:41:00,73,15,3,40.81,Not Returned,In-store,122.43,56+,West,Footwear,9,1,2021,12:41:00,Saturday
16895,9997,2021-01-05 06:56:00,83,23,2,84.65,Not Returned,Online,169.30,56+,East,Clothing,5,1,2021,06:56:00,Tuesday
16896,9998,2021-01-02 10:23:00,65,31,7,51.45,Returned,In-store,360.15,26-35,West,Clothing,2,1,2021,10:23:00,Saturday

In [111]:
def clean3(time):
    if 6 <= time.hour < 12:
        return 'Morning'
    if 12 <= time.hour < 18:
        return 'Evening'
    else:
        return 'Night'

data['time_interval'] = data['time'].apply(clean3)

In [112]:
data

,Invoice Number,Date Time,Customer ID,Product ID,Quantity,price,Return Status,Sales Channel,Total Sales,Customer Age Group,Region,Product Category,day,month,year,time,dayofweek,time_interval
0,10000,2021-01-01 10:20:00,74,3,2,24.00,Not Returned,In-store,48.00,26-35,West,Footwear,1,1,2021,10:20:00,Friday,Morning
1,10001,2021-01-08 03:10:00,92,10,6,40.24,Not Returned,In-store,241.44,18-25,South,Footwear,8,1,2021,03:10:00,Friday,Night
2,1000,2021-01-05 20:24:00,86,20,5,25.96,Not Returned,Online,129.80,18-25,East,Clothing,5,1,2021,20:24:00,Tuesday,Night
4,10003,2021-01-02 07:26:00,73,25,5,72.88,Not Returned,In-store,364.40,56+,West,Clothing,2,1,2021,07:26:00,Saturday,Morning
5,10004,2021-01-01 01:15:00,98,17,2,25.54,Not Returned,Online,51.08,26-35,East,Accessories,1,1,2021,01:15:00,Friday,Night
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16889,9990,2021-01-04 00:05:00,35,48,6,38.23,Not Returned,In-store,229.38,36-45,East,Footwear,4,1,2021,00:05:00,Monday,Night
16891,9992,2021-01-10 12:42:00,45,29,4,42.63,Not Returned,Online,170.52,26-35,North,Footwear,10,1,2021,12:42:00,Sunday,Evening
16894,9995,2021-01-09 12:41:00,73,15,3,40.81,Not Returned,In-store,122.43,56+,West,Footwear,9,1,2021,12:41:00,Saturday,Evening
16895,9997,2021-01-05 06:56:00,83,23,2,84.65,Not Returned,Online,169.30,56+,East,Clothing,5,1,2021,06:56:00,Tuesday,Morning
16896,9998,2021-01-02 10:23:00,65,31,7,51.45,Returned,In-store,360.15,26-35,West,Clothing,2,1,2021,10:23:00,Saturday,Morning

In [113]:
data.to_csv('new.csv', index=False) #saved the file to a new csv file